@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@import 'bootstrap-icons';
@plugin "daisyui";


:root {
  --scuro: #141414;
  --scuro-2: #1B1B1B;
  --chiaro-2: #E1E1E1;
  --chiaro: #F3F3F3;
  /* Rosso corallo/cartoon per evidenziare o CTA */
  --bianco: #FDFDFD;
  /* Bianco puro per testi su sfondi scuri */

}

@theme {
  --scuro: var(--scuro);
  --scuro-2: var(--scuro-2);
  --chiaro-2: var(--chiaro-2);
  --chiaro: var(--chiaro);
  --bianco: var(--bianco);
}


body {
  background: var(--chiaro);
  /* background-image: url(//immagini/sfondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  color: var(--scuro);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  letter-spacing: -0.025em;
  min-height: 100vh;
  /* -0.025em */

  overflow-y: auto;
}

/* #region colori */
.bg-scuro {
  background-color: var(--scuro);
}

.bg-scuro-2 {
  background-color: var(--scuro-2);
}

.bg-chiaro {
  background-color: var(--chiaro);
}

.bg-chiaro-2 {
  background-color: var(--chiaro-2);
}

.bg-bianco {
  background-color: var(--bianco);
}

.text-bianco {
  color: var(--bianco);
}

.text-scuro {
  color: var(--scuro);
}

.text-scuro-2 {
  color: var(--scuro-2);
}

.text-chiaro {
  color: var(--chiaro);
}

.text-chiaro-2 {
  color: var(--chiaro-2);
}

.border-chiaro {
  border-color: var(--chiaro);
}

.border-scuro {
  border-color: var(--scuro);
}

.border-scuro-2 {
  border-color: var(--scuro-2);
}



/* #endregion */

/* #region font */

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* #endregion */

/* #region BUTTONS */


.buttonUI {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.6em 2em;
  border: var(--chiaro) solid 0.15em;
  border-radius: 0.25em;
  color: var(--chiaro);
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
  text-align: center;
}

.buttonUI p {
  z-index: 1;
}

.buttonUI:hover {
  color: #212121;
}

.buttonUI:active {
  border-color: var(--chiaro);
}

.buttonUI::after,
.buttonUI::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: var(--chiaro);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms, background 300ms;
}

.buttonUI::before {
  left: 0;
  transform: translateX(-8em);
}

.buttonUI::after {
  right: 0;
  transform: translateX(8em);
}

.buttonUI:hover:before {
  transform: translateX(-1em);
}

.buttonUI:hover:after {
  transform: translateX(1em);
}

.buttonUI:active:before,
.buttonUI:active:after {
  background: var(--chiaro);
}

/* #endregion */

/* #region loader */
/* HTML: <div class="loader"></div> */
.loader {
  height: 15rem;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}
.loader::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  1rem,#fff 94%,#0000),
    radial-gradient(circle 2rem,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 1rem),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 1rem)
    #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.loader::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}

.notfound {
  width: max-content;
  padding: 0.5em 1em;
  line-height: 1.4;
  font-weight: bold;
  background: 
    linear-gradient(var(--scuro-2)) left ,
    linear-gradient(var(--scuro-2)) right;
  background-repeat: no-repeat; 
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.notfound::before {
  
  content:"No Games";
}
.notfound::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: 
   linear-gradient(90deg,var(--scuro-2) 4px,#0000 0 calc(100% - 4px),var(--scuro-2) ) bottom /22px 20px,
   linear-gradient(90deg,red  4px,#0000 0 calc(100% - 4px),red  0) bottom 22px left 0/22px 20px,
   linear-gradient(var(--scuro-2)) bottom 3px left 0  /22px 8px,
   linear-gradient(var(--scuro-2)) bottom 0   left 50%/8px  18px;
 background-repeat: no-repeat;
 animation: l9-1 2s infinite;
}
@keyframes l9-0{
  0%,25%    {background-size: 50% 100%}
  25.1%,75% {background-size: 0 0,50% 100%}
  75.1%,100%{background-size: 0 0,0 0}
}
@keyframes l9-1{
  25%   { background-position:bottom, bottom 60px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  25.1% { background-position:bottom, bottom 15px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  50%   { background-position:bottom, bottom 20px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
}
/* #endregion */








html {
  scroll-behavior: smooth;
}